@media screen and (max-width: 576px) {
    .stories-section {
        margin-left: 1rem;
        margin-right: 1rem;
        /* margin-top: 60px; */
        /* padding-top: 60px;  */
        /*that's a banger!*/
        /* display: flex; */
        /* flex-direction: column; */
        /* align-items: center; */
        gap: 1rem;
    }

    .stories-box-container {
        display: flex;
        flex-direction: column;

    }

    .left-part-of-the-stories,
    .right-part-of-the-stories {
        width: 100%;
        height: 100%;

    }

    .left-part-of-the-stories {
        display: none;
    }


}