/* adding the background image S*/
.stories-section-parent-div {
    background-image: url('../../assets/bg.png'), linear-gradient(0deg,
            #F9DEAE 0%,
            #F9EED9 50%,
            #FFFFFF 100%);
    ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;


    /* position: relative; */
}

/* adding the background image E*/
.stories-section {
    margin-left: 8.75rem;
    margin-right: 8.75rem;
    padding-top: 60px;
    /*that's a banger!*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.335rem;


}

.stories-section>* {
    flex: 1;
}

.stories-box-container {
    display: flex;
    gap: 18px;
    height: 100%;
}

.left-part-of-the-stories,
.right-part-of-the-stories {
    width: 50%;
    height: 100%;
    /* display: flex; */
}

.story-1 {
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    /* border: 1px solid lightcoral; */
    background-color: white;
    border-radius: 16px;
    height: 100%;
    position: relative;

}

.img-holder {
    /* width: 100%; */
    height: 70%;
    position: relative;
}

.img-holder>img {
    width: 100%;
    height: 70%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.content-holder {
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 36px;
}

.right-part-of-the-stories {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* border: 1px solid red; */
    gap: 18px;
}

.right-part-of-the-stories>* {
    display: flex;
    flex-direction: column;
    /* border: 1px solid blue; */
    background-color: white;
    /* border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px; */
    border-radius: 16px;
    position: relative;
}



.content-holder-of-the-right-side {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

.story-section-view-btn {
    color: white;
    background-color: black;
    border: none;
    border-radius: 12px;
    padding: 10px 50px;
    /* flex: 1; */
}


/* making the overlapping buttons*/
.date-button-1 {
    position: absolute;
    left: 7.5%;
    bottom: 31.5%;
    background-color: #40DCEF;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    z-index: 1;
}

.date-button-2 {
    position: absolute;
    /* Takes it out of normal document flow */
    /* left: 24px; */
    left: 10.5%;
    /* Distance from left edge of parent */
    bottom: 46.5%;
    background-color: #95B226;
    color: white;
    padding: 8px 16px;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    z-index: 1;
}