/* gradient color starts */
.gradient-element-1 {
    background: linear-gradient(
        180deg,  /* This is equivalent to 'to bottom' */
        #DEF5FF 0%,
        #FFFFFF 40%,
        #FFFFFF 100%
    );
}
.gradient-element-2 {
    background: linear-gradient(
        180deg,  /* This is equivalent to 'to bottom' */
        #FFF4DC 0%,
        #FFFFFF 40%,
        #FFFFFF 100%
    );
}
.gradient-element-3 {
    background: linear-gradient(
        180deg,  /* This is equivalent to 'to bottom' */
        #EEE1FF 0%,
        #FFFFFF 40%,
        #FFFFFF 100%
    );
}


/* gradient color stops */
.curriculum-section{
    margin-left: 8.75rem;
    margin-right: 8.75rem;
    /* margin-top: 60px; */
    padding-top: 60px; /*that's a banger!*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.335rem;
}
/* adding the background image S*/
.cirriculum-section-parent-div{
    background-image: url('../../assets/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
    padding: 0;
}
/* adding the background image E*/
.curriculums-container {
    display: flex;
    gap: 28px;

}

.curriculums-container>div {
    
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    padding: 40px 50px;
    border-radius: 18px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.05);


}

.curriculums-container>div>img {
    width: 50%;
}

.curriculum-button-1,
.curriculum-button-2{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: none;
    background-color: var(--orange);
    /* padding: 15px 25px; */
    font-weight: bolder;
    color: white;
    font-size: 24px;
}