@media screen and (max-width: 576px) {
    .footer-container {
        flex-direction: column;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 3rem;
        /* padding-top: 5%; */
        /* padding-bottom: 8%; */
      
    
    }

    .footer-section-2 > *{
        padding-left: 0%;
    }
    
    .footer-section-3 > *{
        padding-left: 0%;
    }

    
.footer-section-1,
.footer-section-2,
.footer-section-3 {


    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;

    box-sizing: content-box;
    overflow: visible;
    flex-shrink: 1;

}


.footer-section-2>h3{
    margin: 0;
}

.footer-marketing-message{
    padding-top: 3%;
}

.footer-nav {
    padding-top: 3%;
}

.social-media-logos {
    display: flex;
    gap: 5px;
    padding-top: 3%;
}

.brand-name{
display: block;}
    
}