/* 
thin --> 100
extra light --> 200
light  --> 300
regular -->  400
medium  --> 500
semi-bold  --> 600
bold  --> 700
extra-bold  --> 800
 */


.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.brand-container {
    font-size: 2rem;
    display: flex;
    align-items: center;
    gap: 0.69rem;
    font-weight: 700;
}

.nav-links-container {
    display: flex;
    gap: 2rem;
    font-weight: var(--medium);

}

.nav-link-1 {
    font-weight: var(--bold);
    color: var(--orange);
}

.nav-link-2 {
    color: var(--sky-blue);
}

.nav-link-3 {
    color: #01ACFD;
}

.nav-link-4 {
    color: #5D58EF;
}


.contact-btn-container {
    display: flex;
    font-size: 1.25rem;
}

.contact-btn {
    font-weight: 600;
    color: white;
    background-color: var(--orange);
    padding: 0.625rem 3rem;
    border: none;
    border-radius: 12px;
}

/* only mobile properties hidden for desktop>>>>>>>> */
.menu-icon {
    display: none;
}

.divider-for-mobile {
    display: none;
}





