/* 
thin --> 100
extra light --> 200
light  --> 300
regular -->  400
medium  --> 500
semi-bold  --> 600
bold  --> 700
extra-bold  --> 800
 */

 /*কোন ফন্টের জন্য কোন ট্যাগ ইউজ করব:
   56px --> <h1>
   46px --> <h2>
   40px --> <h3>
   32px --> <h4>
   24px --> <h5>
   20px --> <h6>
   18px --> <p>
   16px --> <small> */

/*
Tag	Description	Size
<h1>		2em (32px)
<h2>		1.5em (24px)
<h3>		1.17em (18.72px)
<h4>		1em (16px)
<h5>		0.83em (13.28px)
<h6>		0.67em (10.72px) 
 */


 @import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
 

 .quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

/* body{
    margin-left: 8.75rem;
    margin-right: 8.75rem;
} */

header{
  margin-left: 8.75rem;
  margin-right: 8.75rem;
}

/* 
thin --> 100
extra light --> 200
light  --> 300
regular -->  400
medium  --> 500
semi-bold  --> 600
bold  --> 700
extra-bold  --> 800
 */

/* global colors */
 :root{
    --orange: #FEA301;
    --sky-blue: #01ACFD;
    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
}